RewriteEngine On

# rewrite recipe pages
RewriteRule ^recipes/([^/]+) recipe.php?title=$1 [NC,L]
RewriteRule ^(latest|genres|search|list) index.php [NC,L]

# -- production environment only --
Options -MultiViews
RewriteBase /